.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 50vmin;
  pointer-events: none;
}

.Listening-logo {
  /* height: 20vmin; */
}

.App-header {
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

h1,
h2,
.display-1 {
  color: #bf130c;
}

.nounderline {
  text-decoration: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
